# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# local env files
.env
.env.local
.env*.local

# local dev data store (JSON fallback db, never used in production)
/.data

# misc
.DS_Store
*.pem
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
